@font-face {
  font-family: "gumdrop";
  src: url("./fonts/The\ Bomb\ Sound.woff2") format("woff2");
  src: url("./fonts/The\ Bomb\ Sound.ttf") format("ttf");
}

@font-face {
  font-family: "visage";
  format: "woff2";
  src: url("./fonts/Warden\ Regular.woff2");
}

@font-face {
  font-family: "rackis";
  format: "ttf";
  src: url("./fonts/Rackis\ Bold.ttf");
}

@font-face {
  font-family: "avenir";
  src: url("./fonts/Avenir-Black.ttf")format("ttf");
  src: url("./fonts/Avenir-Black.woff")format("woff");
}

body {
  background: url(https://assets.fortnitecreativehq.com/wp-content/uploads/2023/01/21012853/Tic-Tac-Toe.png);
  background-size: contain;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (min-width:600px) {
  body {overflow: hidden;}
}